<h1>Hi <%= current_user.name %> Welcome to MyTwitter</h1>
<!--<div>
	Here are your tweets :-
</div>

<% for @t in current_user.tweets %>
  <div>
  	<p><%= @t.content %></p>
  </div>
<% end %>-->
<%= render 'compoments/tweet_form' %>

<div>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
</div>
