<div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<% for @t in @allTweets %>
			<div class="panel panel-default">
				<div class="panel-body">
					<p><%= @t.content %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>