<h1>Hi <%= current_user.name %></h1>
<!--<div>
	Here are your tweets :-
</div>

<% for @t in current_user.tweets %>
  <div>
  	<p><%= @t.content %></p>
  </div>
<% end %>-->
<div>All Posts:-</div>
<div>Posts:-</div>
<% for @t in @allTweets %>
	<div>
		<p><%= @t.content %></p>  
	</div>
<% end %>

<div>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
</div>